html, body {
    height: 100%;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#map {
    flex: 1 1 auto;
}

.popup-content {
    padding: 15px;
}

@media (max-height: 1000px) {
    .atlas-layer-legend-card {
        /* This overrides the legend card height so it doesn't take up too much space on small devices. */
        max-height: 400px !important;
    }
}

.twitter-button {
    background-color: #1DA1F2 !important;
    margin-bottom: 4px;
}

.mastodon-button {
    background-color: #6364FF !important;
}

.collapsing {
    transition: unset !important;
}
